<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.covidapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_rounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".jatim.KasusJatim"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyLightActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".provinsi.KasusProvinsi"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyLightActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".negara.KasusNegara"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyLightActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>